<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h2>Dispatch Order</h2>
		<br/>
			<table class="table-striped sortable" width="100%">
				<thead>
				<tr>
					<th>Vehicle</th>
					<th>VIN</th>
					<th>Customer Name</th>
					<th>Origin</th>
					<th>Destination</th>
					<th>Price</th>
					</tr>
				</thead>
				<tbody>
				  <% @line_items.each do |line_item| %>
				  	<% vehicle = Vehicle.find(line_item.vehicle_id) %>
				    <tr><td><%= "#{vehicle.read_attribute("make")} #{vehicle.read_attribute("model")}" %></td>
				    <td><%= vehicle.vinNumber %></td>
				    <td><%= vehicle.customername %></td>
				    <td><%= vehicle.origin %></td>
				    <td><%= vehicle.destination %></td>
				    <td><%= vehicle.distance %></td></tr>
				  <% end %>
			  </tbody>
		  </table>
		  <%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-success" %>
	</div>
</div>
