<div class="row">
  <div class="col-sm-2">
    <ul class="nav navbar-side">
      <li class="active"> <a data-target="#contracts" data-toggle="tab">Open Contracts</a></li>
      <li><a data-target="#fleettab" data-toggle="tab">My Fleet</a></li>
      <li><a data-target="#invoicing" data-toggle="tab">Invoicing</a></li>
      <br />
      <strong>Pending Dispatches</strong>
      <div class="sidebox" style="margin-top: 0px;">
      <table class="table-striped sortable" id="widget">
        <tbody>
        <% @delivery_trucks.each do |truck| %>
          
          <% if truck.occupied_slots == 'nil' %>
          
          <%else %>
          <% if truck.occupied_slots > 0 %>
            <tr>
              <td><h6 style="margin-top: 0px; margin-bottom: 0px;"><%= truck.name %></h6></td>
            </tr>
          <% end %>
          <%end%>
        <% end %>
        </tbody>
      </table>
      </div>

    </ul>
  </div>
  <div class="col-sm-10 tab-bg" id="vehicleTable">
      <div class="tab-content">
        <div class="tab-pane active" id="contracts"> 
          <div class="row">
            <div class="col-sm-12">
              <p>
                <h3 style="display: inline;">Available Contracts </h3><h2 style="display: inline;"><span style="display: inline;"class="badge"><%= @tableVehicleCount %></span></h2>
                <select id="changer" style="float: right;" onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value">
                  <option selected disabled>Filter By Destination</option>
                  <option value="/">All Destinations</option>
                <% @vehicles.each do |vehicle| %>
                <% next unless vehicle.currentState == "Available" %>
                  <option value=<%= "/?destination=#{(vehicle.destination).to_s}"%>><%= vehicle.destination %></option>
                <%end%>
                </select></nobr>
              </p>

              <table class="table-striped sortable autobox" width="100%">
                <thead>
                  <tr>
                    <th class="padleft"  width="20%">Vehicle</h5></th>
                    <th width="25%">Origin</h5></th>
                    <th width="25%">Destination</h5></th>
                    <th width="10%">Distance</h5></th>
                    <th width="20%">Pick Up With</h5></th>
                  </tr>
                </thead>
                <tbody>
                  <%@tableVehicles.each do |vehicle|%>
                  <% next unless vehicle.currentState == "Available" %>
                    <tr>
                      <td class="padleft" width="20%"><%= link_to vehicle.name, vehicle %></h5></td>
                      <td width="25%"><%= vehicle.origin %></h5></td>
                      <td width="25%"><%= vehicle.destination  %></h5></td>
                      <td width="10%"><%= vehicle.distance %></h5></td>
                      <% @i = 0 %>
                      <td width="20%"><%= render 'form', vehicle: vehicle %></td>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <% @delivery_trucks.each do |truck| %>
            <div class="modal fade" id="myModal<%=truck.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Pending Load Configuration</h4>
                      </div>
                      <div class="modal-body">
                        <table class="table-striped sortable autobox" width="100%">
                          <thead>
                       
                              <th width="30%">Vehicle</h5></th>
                              <th width="25%">Weight</h5></th>
                              <th width="30%">Action</h5></th>
                              <th width="15%">Confirm Vehicle</h5></th>
                    
                          </thead>
                          <tbody>  
                            <% refreshVehicles %>
                            <% @vehicles.each do |vehicle|%>
                              <% if vehicle.truck_id.to_s == truck.id.to_s %>
                                <tr>
                                  <td><%= link_to vehicle.name, vehicle %></h5></td>
                                  <td><%= vehicle.actualWeight %></h5></td>
                                  <td><%= render 'form', vehicle: vehicle %></td>
                                  <% time = Time.new %>
                                   <%= form_tag add_to_cart_path, :remote => true do %>
                                    <%= hidden_field_tag :vehicle_id, vehicle.id %>
                                    <%= hidden_field_tag :bid_total, vehicle.distance.to_i %>
                                    <%= hidden_field_tag :dispatch_date, (time.month.to_s+"/"+time.day.to_s + "/" +time.year.to_s) %>
                                    <%= hidden_field_tag :order_id, (vehicle.truck_id.to_s+(time.year.to_s+time.month.to_s+time.day.to_s)).to_i %>
                                    <%= hidden_field_tag :truck_id, vehicle.truck_id.to_s %>
                                    <td><%= submit_tag "Add to Cart", class: "btn btn-primary" %></td>
                                  <% end %>
                                </tr>
                              <% end %>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel Order</button>
                         <%= link_to "Finalize Load", view_order_path, class: "btn btn-primary" %>
                      </div>
                    </div>                  
                  </div>
                </div>
              <% @newWeight = truck.weightCapacity.to_i %>
              <% @count = 0 %>
              <% @vehicles.each do |vehicle| %>
                <% if vehicle.truck_id.to_i == truck.id.to_i %>
                  <% @count += 1 %>
                  <% @newWeight -= vehicle.actualWeight.to_i %>
                <% end %>
                <% truck.update(currentWeight: @newWeight.to_i) %>
                <% truck.update(occupied_slots: @count) %>
              <% end %>
            <div class="col-sm-6"> 
                <h3><%=link_to truck.name, truck %></h3> Remaining Capacity: <%= truck.currentWeight %> Lbs

                <div class="pull-right">
                  <% if truck.currentState == "Dispatched" %>
                    <td><a data-target="#fleettab" data-toggle="tab">Dispatched</a></td>
                  <% else %>
                <a data-toggle="modal" data-target="#myModal<%=truck.id%>" data-controls-modal="#myModal_<%=truck.id%>" data-backdrop="static" data-keyboard="false" href="#">
                  <span class="button">
                    <% if @count > 0 %>
                      <%= @count %><%= " Vehicles Pending" %>
                    <% else %>Ready
                    <% end %>
                  <% end %>
                  </span></a>
                </div>
             
                <table class="table-striped sortable autobox" width="100%" height="100%" >
                  <thead>
                    <th width="25%">Name</th>
                    <th width="25%">Origin City</th>
                    <th width="25%">Destination City</th>
                    <th width="25%">Change Truck</th>
                  </thead>
                  <tbody class="smallbody">
                      <%@vehicles.each do |vehicle|%>
                        <% if truck.id.to_s == vehicle.truck_id %>
                          <tr>
                            <td width="25%"><%= link_to vehicle.name, vehicle %></h5></td>
                            <td width="25%"><%= vehicle.origin %></h5></td>
                            <td width="25%"><%= vehicle.destination %></h5></td>
                            <td width="25%"><%= render 'form', vehicle: vehicle %></td>
                            <% @i = 0 %>
                          </tr>
                        <%end%>
                      <%end%>
                  </tbody>
                </table>
              </div>
            <% end %>
          </div>
        </div>

        <div class="tab-pane" id="fleettab"> 
          <div class="row">
            <div class="col-sm-12">
              <% @delivery_trucks.each do |truck|%>
                <!-- Modal -->
                <div class="modal fade" id="myModal<%=truck.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Pending Load Configuration</h4>
                      </div>
                      <div class="modal-body">
                        <table class="table-striped sortable autobox" width="100%">
                          <thead>
                       
                              <th width="30%">Vehicle</h5></th>
                              <th width="25%">Weight</h5></th>
                              <th width="30%">Action</h5></th>
                              <th width="15%">Confirm Vehicle</h5></th>
                    
                          </thead>
                          <tbody>  
                            <% refreshVehicles %>
                            <% @vehicles.each do |vehicle|%>
                              <% if vehicle.truck_id.to_s == truck.id.to_s %>
                                <tr>
                                  <td><%= link_to vehicle.name, vehicle %></h5></td>
                                  <td><%= vehicle.actualWeight %></h5></td>
                                  <td><%= render 'form', vehicle: vehicle %></td>
                                  <% time = Time.new %>
                                   <%= form_tag add_to_cart_path, :remote => true do %>
                                    <%= hidden_field_tag :vehicle_id, vehicle.id %>
                                    <%= hidden_field_tag :bid_total, vehicle.distance.to_i %>
                                    <%= hidden_field_tag :dispatch_date, (time.month.to_s+"/"+time.day.to_s + "/" +time.year.to_s) %>
                                    <%= hidden_field_tag :order_id, (vehicle.truck_id.to_s+(time.year.to_s+time.month.to_s+time.day.to_s)).to_i %>
                                    <%= hidden_field_tag :truck_id, vehicle.truck_id.to_s %>
                                    <td><%= submit_tag "Add to Cart", class: "btn btn-primary" %></td>
                                  <% end %>
                                </tr>
                              <% end %>
                            <% end %>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel Order</button>
                         <%= link_to "Finalize Load", view_order_path, class: "btn btn-primary" %>
                      </div>
                    </div>                  
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="row" id="dashtrucks">
            <div class="col-sm-12">
                <table class="table-striped sortable" width="100%">
                  <thead>
                
                      <th>Delivery Truck</h5></th>
                      <th>Status</h5></th>
                      <th>Cargo</h5></th>
                      <th>Weight</h5></th>
                      <th>Load Vehicles</h5></th>

                  </thead>
                  <tbody>
                    <% @delivery_trucks.each do |truck| %>
                      <% @newWeight = truck.weightCapacity.to_i %>
                      <% @count = 0 %>
                      <% @vehicles.each do |vehicle| %>
                        <% if vehicle.truck_id.to_i == truck.id.to_i %>
                          <% @count += 1 %>
                          <% @newWeight -= vehicle.actualWeight.to_i %>
                        <% end %>
                        <% truck.update(currentWeight: @newWeight.to_i) %>
                      <% end %>
                      <tr>
                        <td><%= link_to truck.name, truck %></td>
                        <td><%= render 'truckform', delivery_truck: truck, :locals => { :f => truck } %></td>
                        <% if truck.currentState == "Dispatched" %>
                          <td><%= "Dispatched" %></td>
                          <td><i><%= @newWeight %></i></td>
                          <td><%= link_to "Dispatch Form", truck %></td>
                        <% else %>
                        <td><a data-toggle="modal" data-target="#myModal<%=truck.id%>" data-controls-modal="#myModal_<%=truck.id%>" data-backdrop="static" data-keyboard="false" href="#">
                        <span class="button">
                          <% if @count > 0 %>
                            <%= @count %><%= " Vehicles Pending" %>
                          <% else %>Ready
                          </span></a></td><% end %>
                        <td><%= @newWeight %></td>
                        <% if truck.currentState = "Dispatched" %>
                          <td> 
                            <select onChange='if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value'>
                              <option selected disabled>Load Vehicle</option>
                                <% @vehicles.each do |vehicle| %>
                              <option value=<%= "/?truck_id=#{(truck.id.to_s)}&carId=#{(vehicle.id.to_s)}"%>><%= vehicle.name %></option>
                                <%end%>
                            </select>
                          </td>
                        <% end %>
                      <% end %>
                          
                        </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="invoicing"> 
        <div class="row">
          <div class="col-md-12">
            <h1>Invoices</h1>
              <table class="table-striped sortable" width="100%">
                <thead>
                  <tr>
                    <th width="10%">Invoice ID</th>
                    <th>Created On</th>
                    <th>Dispatch Date</th>
                    <th>Order Total</th>
                    <th>Truck ID</th>
                    <th>Order Items</th>
                  </tr>
                </thead>
                <tbody>
                  <% @orders.each do |order| %>
                    <tr>
                      <td><%= order.id %></td>
                      <td><%= local_time(order.created_at) %></td>
                      <td><%= order.dispatch_date %></td>
                      <td><%= number_to_currency order.grand_total%></td>
                      <td><%= order.truck_id %></td>
                      <td><a data-toggle="modal" data-target="#myModal<%=order.id%>" data-controls-modal="#myModal_<%=order.id%>" data-backdrop="static" data-keyboard="false" href="#"><span class="button"><%= "#{order.order_items.length} Vehicles" %></span></a></h5></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              </div>
            </div>
          </div>
          <% @orders.each do |order| %>
            <div class="modal fade" id="myModal<%=order.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Loaded Vehicles</h4>
                  </div>
                  <div class="modal-body">
                    <table class="table-striped sortable" width="100%">
                      <thead>
                          <th width="20%"><h4>Vehicle</h4></th>
                          <th width="25%"><h4>Origin</h4></th>
                          <th width="25%"><h4>Destination</h4></th>
                          <th width="10%"><h4>Distance</h4></th>
                          <th width="10%"><h4>Weight</h4></th>
                          <th width="10%"><h4>Bid</h4></th>

                      </thead>
                      <tbody>  
                      <%  order.order_items.each do |k,v| %>
                      <tr>
                        <td><%= "#{Vehicle.find(k).make.capitalize} #{Vehicle.find(k).model.capitalize}" %></td>
                        <td><%= "#{Vehicle.find(k).origin}" %></td>
                        <td><%= "#{Vehicle.find(k).destination}" %></td>
                        <td><%= "#{Vehicle.find(k).distance}" %></td>
                        <td><%= "#{Vehicle.find(k).actualWeight}"%></td>
                        <td><%= "#{number_to_currency Vehicle.find(k).distance}" %></td>
                        </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <br />
        </div>
      </div>
    </div>
      </div>
</div>
