
<div class="row">

  <div class="col-sm-4 col-sm-offset-4 padleft">
    <h2>Delivery Vehicles <span class="badge"> <%= @deliveryTruckCount %> </span></h2> 
  </div>

  <% @delivery_trucks.each do |truck|%>
  <!-- Modal -->
<div class="modal fade" id="myModal<%=truck.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Pending Load Configuration</h4>
      </div>
      <div class="modal-body">
        <table class="table-striped" width="100%">
          <thead>
              <th><h4>Vehicle</h4></th>
              <th><h4>Weight</h4></th>
              <th><h4>Action</h4></th>
          </thead>
          <tbody>  
            </tr>
            <% @vehicles.each do |vehicle|%>
              <% if vehicle.truckId.to_s == truck.id.to_s %>
                <tr>
                  <td><h5><%= link_to vehicle.name, vehicle %></h5></td>
                  <td><h5><%= vehicle.actualWeight %></h5></td>
                  <td><select onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value">
                    <option selected disabled>Move Vehicle</option>
                    <option value=<%= "/?truckId=#{URI.escape("nil")}&carId=#{URI.escape(vehicle.id.to_s)}"%>>Remove<% @delivery_trucks.each do |truck| %>
                      <option value=<%= "/?truckId=#{URI.escape(truck.id.to_s)}&carId=#{URI.escape(vehicle.id.to_s)}"%>>Move to <%= truck.name %></option>
                    <%end%></option>
                  </select></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <% time = Time.new %>
          <% @vehicles.each do |vehicle|%>
            <% if vehicle.truckId.to_s == truck.id.to_s %>
             <%= form_tag add_to_cart_path do %>
              <%= hidden_field_tag :vehicle_id, vehicle.id %>
              <%= hidden_field_tag :bid_total, vehicle.distance.to_i %>
              <%= hidden_field_tag :dispatch_date, (time.month.to_s+"/"+time.day.to_s + "/" +time.year.to_s) %>
              <%= hidden_field_tag :order_id, (vehicle.truckId.to_s+(time.year.to_s+time.month.to_s+time.day.to_s)).to_i %>
              <%= hidden_field_tag :truckId, vehicle.truckId %>
              <%= submit_tag "Add to Cart", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          <% end %>
         <%= link_to "Finalize Load", view_order_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

    <% @newWeight = truck.weightCapacity.to_i %>
    <% count = 0 %>
    <% @vehicles.each do |vehicle| %>
      <% if vehicle.truckId.to_i == truck.id.to_i %>
        <% count += 1 %>
        <% @newWeight -= vehicle.actualWeight.to_i %>
      <% end %>
    <% end %>

    <% truck.update(currentWeight: @newWeight.to_i) %>

    <div class="col-sm-10 col-sm-offset-1">
      <div class="well">
        <table width="100%">
          <thead>
            <th width="26%"><h4>Delivery Truck</h4></th>
            <th width="25%"><h4>Status</h4></th>
            <th width="25%"><h4>Remaining Capacity</h4></th>
            <th><h4>Action</h4></th>
          </thead>
          <tbody>
            <tr>
              <td><h5><%= link_to truck.name, truck %></h5></td>
              <td><h5><a data-toggle="modal" data-target="#myModal<%=truck.id%>" data-controls-modal="#myModal_<%=truck.id%>" data-backdrop="static" data-keyboard="false" href="#"><span class="button"><% if count > 0 %><%= "#{count} Vehicles Pending" %><% else %>Ready<%end%></span></a></h5></td>
              <td><h5><%= @newWeight %></h5></td>
              <td><select onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value">
                <option selected disabled>Load Vehicle</option>
                <% @vehicles.each do |vehicle| %>
                  <option value=<%= "/?truckId=#{URI.escape(truck.id.to_s)}&carId=#{URI.escape(vehicle.id.to_s)}"%>><%= vehicle.name %></option>
                <%end%>
              </select></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  <% end %>

  <div class="col-sm-4 col-sm-offset-4 padleft">
      <h2>Vehicle Dispatch <span class="badge"><%= @tableVehicleCount %></span></h2></div>
  </div>
  </div>
  <div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="well">
      <select id="changer" onChange="if(this.selectedIndex!=0) self.location=this.options[this.selectedIndex].value">
        <option selected disabled>Filter By Destination</option>
        <option value="/">All Destinations</option>
        <% @vehicles.each do |vehicle| %>
          <option value=<%= "/?destination=#{URI.escape(vehicle.destination)}"%>><%= vehicle.destination %></option>
        <%end%>
      </select>
      <table class="table-striped" width="100%">
        <thead>
          <th width="20%"><h4>Vehicle</h4></th>
          <th width="30%"><h4>Origin City</h4></th>
          <th width="35%"><h4>Destination City</h4></th>
          <th width="10%"><h4>Trip Distance</h4></th>
          <th width="25%"><h4>Pick Up With</h4></th>
        </thead>
        <tbody>
          <%@tableVehicles.each do |vehicle|%>
            <tr>
              <td><h5><%= link_to vehicle.name, vehicle %></h5></td>
              <td><h5><%= vehicle.origin.sub!(", United States", "") %></h5></td>
              <td><h5><%= vehicle.destination.sub!(", United States", "") %></h5></td>
              <td><h5><%= vehicle.distance %></h5></td>
              <% @i = 0 %>
              <td><%= render 'form', vehicle: vehicle %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>