<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-2">
    <ul class="nav navbar-side">
        <li class="active"> <a href="#home" data-target="#home" data-toggle="tab">Home</a></li>
        <li><a href="#cargo" data-target="#cargo" data-toggle="tab">Contracts</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <div class="tab-content">
      <div class="tab-pane active" id="home">
          <h3>Companies</h3>
          <table class="table-striped sortable autobox" width="100%">
            <thead>
                <th>Company Name</th>
                <th>Address</th>
                <th>Custom ID</th>
                <th>Edit/Destroy</th>
            </thead>
            <tbody>
              <% @companies.each do |company| %>
                <tr>
                  <td><%= link_to company.companyName, company%></td>
                  <td><%= company.companyAddress %></td>
                  <td><%= company.companyCustomId %></td>
                  <td><%= link_to 'Edit', edit_company_path(company) %><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br />
        </div>
        </div>
        <div class="tab-pane" id="routetab"> 
          <div class="col-md-6">
            <div id="directions-panel"></div>
          </div>
          <div class="tab-pane" id="cargo">  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




