
<%= form_for(delivery_truck) do |f| %>
  <% if delivery_truck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delivery_truck.errors.count, "error") %> prohibited this delivery_truck from being saved:</h2>

      <ul>
      <% delivery_truck.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<div class="well">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.hidden_field :minimumPossibleWeight, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.hidden_field :maximumPossibleWeight, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :vinNumber %>
    <%= f.text_field :vinNumber %>
  </div>

  <div class="field">
   <%= f.label :origin %>
    <%= f.text_field :origin, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.hidden_field :destination, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :yearManufactured %>
    <%= f.number_field :yearManufactured %>
  </div>

  <div class="field">
    <%= f.label :make %>
    <%= f.text_field :make %>
  </div>

  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>

  <div class="field">
    <%= f.hidden_field :payloadEmptyWeight, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.hidden_field :originLocation, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :currentLocation %>
    <%= f.text_field :currentLocation %>
  </div>

  <div class="field">
    <%= f.hidden_field :destinationLocation, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :weightCapacity %>
    <%= f.text_field :weightCapacity %>
  </div>

  <div class="field">
    <%= f.hidden_field :yearAquired, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.hidden_field :carFax, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.hidden_field :maintenanceHistory, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.hidden_field :nextMaintenance, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.hidden_field :highwayMPG, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.hidden_field :cityMPG, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.label :avgMPG %>
    <%= f.text_field :avgMPG %>
  </div>

  <div class="field">
    <%= f.label :scheduledDepartureTime %>
    <%= f.text_field :scheduledDepartureTime %>
  </div>

  <div class="field">
    <%= f.hidden_field :estimatedArrivalTime, class: "form-control"  %>
  </div>

  <div class="field">
    <%= f.hidden_field :requestedArrivalTime, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
    </div>
  </div>
  </div>
  </div>
<% end %>
