<p id="notice"><%= notice %></p>
<div class="col-sm-10 col-sm-offset-1">
<h1>Delivery Trucks</h1>
</div>  
    <div class="row">
    <% @delivery_trucks.each do |delivery_truck| %>
        <div class="col-sm-10 col-sm-offset-1">
            <div class="box-car">
            <table>
                <tr>
                <td width="77%"><h3><%= link_to delivery_truck.name, delivery_truck %></h3></td>
                </tr>

                <tr>
                <td class="labelcolor">Vin Number:</td>
                <td><%= delivery_truck.vinNumber %></td>
                </tr>

                <tr>
                <td class="labelcolor">Year Manufactured:</td>
                <td><%= delivery_truck.yearManufactured %></td>
                </tr>

                <tr>
                <td class="labelcolor">Make:</td>
                <td><%= delivery_truck.make %></td>
                </tr>

                <tr>
                <td class="labelcolor">Model:</td>
                <td><%= delivery_truck.model %></td>
                </tr>

                <tr>
                <td class="labelcolor">Current Location:</td>
                <td><%= delivery_truck.currentLocation %></td>
                </tr>

                <tr>
                <td class="labelcolor">Weight Capacity:</td>
                <td><%= delivery_truck.weightCapacity %></td>
                </tr>

                <tr>
                <td class="labelcolor">Average MPG:</td>
                <td><%= delivery_truck.avgMPG %></td>
                </tr>

                <tr>
                <td class="labelcolor">Scheduled Departure Date:</td>
                <td><%= delivery_truck.scheduledDepartureTime %></td>
                </tr>
                </table>
            </div>
        </div>
    <% end %>
    </div>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="well">
            <%= link_to(image_tag("carHauler-btn.png", class: 'image-responsive'), new_delivery_truck_path,  :method => :get) %> <br>
            <%= link_to 'New Delivery Truck', new_delivery_truck_path %>
        </div>
    </div>
</div>
