   <p id="notice"><%= notice %></p>
   <% getWaypoints() %>

<div class="container">
    <div class="row-fluid">
        <div class="span8 well">
            <ul class="nav nav-tabs">
                <li class="active"> <a href="#home" data-target="#home" data-toggle="tab">Home</a></li>
                <li><a href="#maptab" data-target="#routetab" data-toggle="tab">Route Details</a></li>
                <li><a href="#cargo" data-target="#cargo" data-toggle="tab">Cargo Details</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active padleft" id="home">
                <div class="box">
                <div class="col-md-6">

                <table>
                  <tr>
                    <td width="50%"><h2><%= "#{@delivery_truck.name}" %></h2></td>
                  </tr>
                  <tr>
                    <td><h4><%= @delivery_truck.yearManufactured %> <%= @delivery_truck.make %> <%= @delivery_truck.model %></h4></td>
                  </tr>

                  <tr>
                    <td><strong><%= "VIN: #{@delivery_truck.vinNumber}" %></strong></td>
                  </tr>
                  <tr>
                    <td>Located in <%= @delivery_truck.currentLocation %></td>
                    <td><%= @delivery_truck.weightCapacity %>Lb Capacity</td>
                  </tr>

                  <tr>
                    <td>Dispatch Date: <%= @delivery_truck.scheduledDepartureTime %></td>
                    <td>Gets <%= @delivery_truck.avgMPG %> MPG</td>
                  </tr>
                </table>
                </div>
                <div class="col-md-6">
                  <%= image_tag @delivery_truck.image, class: "tableimage" %>
                  </div>
                </div>
                <div id="mapbox"><div id="routemap"></div></div>
              </div>

              <div class="tab-pane" id="routetab"> 
                <div class="col-md-6">
                <div id="directions-panel"></div>
              </div>
              </div>

              <div class="tab-pane" id="cargo">
                <% @myVehicles.each do |vehicle| %>
                  <div class="col-sm-4">
                  <div class="box">
                    <table width="90%">
                      <tr>
                        <td><h4><%= vehicle.name %></h4></td>
                      </tr>

                      <tr>
                        <td><h5><%= vehicle.yearManufactured %> <%= vehicle.make %> <%= vehicle.model %></h5></td>
                      </tr>

                      <tr>
                        <td>Pick-Up Location:</td>
                        <td><%= vehicle.origin %></td>
                      </tr>

                      <tr>
                        <td>Destination:</td>
                        <td><%= vehicle.destination %></td>
                      </tr>

                      <tr>
                        <td>VIN:</td>
                        <td><%= vehicle.vinNumber %></td>
                      </tr>

                      <tr>
                        <td>Weight Range:</td>
                        <td> <%= vehicle.minimumPossibleWeight %> - <%= vehicle.maximumPossibleWeight %> Lbs</td>
                      </tr>
                      
                      <tr>
                        <td>Actual Weight:</td>
                        <td><%= vehicle.actualWeight %></td>
                      </tr>
                    </table>
                    Total Distance: <i><strong><%= vehicle.distance %></strong> miles</i></h5>
                  </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <h3><%= link_to 'Back', delivery_trucks_path %></h3>
  </div>
</div>

<select hidden id="start">
    <option hidden selected value=<%= @origin %>></option>
</select>

<select hidden multiple id="waypoints">
  <% @waypoints.uniq do |wp| %>
    <% if wp == @origin %>
    <% else %>
    <option hidden selected value= <%= wp %> ></option> 
    <%end%>
  <% end %>
</select>

<select hidden id="end">
  <option hidden selected value= <%=@destination%> ></option>
</select>


<script>
  var map; 

    function initMap() {
      var directionsService = new google.maps.DirectionsService;
      var directionsDisplay = new google.maps.DirectionsRenderer;
      map = new google.maps.Map(document.getElementById('mapbox'), {
        zoom: 6
      });
      directionsDisplay.setMap(map);
      calculateAndDisplayRoute(directionsService, directionsDisplay);
    }

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      initMap();
    });

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
      var waypts = [];
      var checkboxArray = document.getElementById('waypoints');
      for (var i = 0; i < checkboxArray.length; i++) {
        if (checkboxArray.options[i].selected) {
          waypts.push({
            location: checkboxArray[i].value,
            stopover: true
          });
        }
      }
      directionsService.route({
        origin: document.getElementById('start').value,
        destination: document.getElementById('end').value,
        waypoints: waypts,
        optimizeWaypoints: true,
        travelMode: 'DRIVING'
      }, function(response, status) {
      if (status === 'OK') {
        directionsDisplay.setDirections(response);
        var route = response.routes[0];
        var summaryPanel = document.getElementById('directions-panel');
        summaryPanel.innerHTML = '';
        // For each route, display summary information.
      for (var i = 0; i < route.legs.length; i++) {
        var routeSegment = i + 1;
        summaryPanel.innerHTML += '<div class="autobox"><b>Waypoint ' + routeSegment +
            '</b><br>' + route.legs[i].start_address + ' to ' + route.legs[i].end_address + '<br>'+ route.legs[i].distance.text + '<br><br></div>';
        }
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }
</script>
