<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-sm-4 col-sm-offset-1">
    <div class="well">
      <p>
        <strong>Name:</strong>
        <%= @delivery_truck.name %>
      </p>
      <p>
        <strong>Vinnumber:</strong>
        <%= @delivery_truck.vinNumber %>
      </p>

      <p>
        <strong>Yearmanufactured:</strong>
        <%= @delivery_truck.yearManufactured %>
      </p>

      <p>
        <strong>Make:</strong>
        <%= @delivery_truck.make %>
      </p>

      <p>
        <strong>Model:</strong>
        <%= @delivery_truck.model %>
      </p>

      <p>
        <strong>Currentlocation:</strong>
        <%= @delivery_truck.currentLocation %>
      </p>

      <p>
        <strong>Weightcapacity:</strong>
        <%= @delivery_truck.weightCapacity %>
      </p>

      <p>
        <strong>Avgmpg:</strong>
        <%= @delivery_truck.avgMPG %>
      </p>

      <p>
        <strong>Scheduleddeparturetime:</strong>
        <%= @delivery_truck.scheduledDepartureTime %>
      </p>

      <% @myVehicles.each do |vehicle| %>
        <p><%= vehicle.name %></p>
      <% end %>

      
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <%= link_to 'Edit', edit_delivery_truck_path(@delivery_truck) %> |
    <%= link_to 'Back', delivery_trucks_path %>
  </div>
</div>