<p id="notice"><%= notice %></p>
  <div class="col-sm-4 col-sm-offset-1">
  <div class="well">
<p>
  <strong>Name:</strong>
  <%= @delivery_truck.name %>
</p>

<p>
  <strong>Minimumpossibleweight:</strong>
  <%= @delivery_truck.minimumPossibleWeight %>
</p>

<p>
  <strong>Maximumpossibleweight:</strong>
  <%= @delivery_truck.maximumPossibleWeight %>
</p>

<p>
  <strong>Vinnumber:</strong>
  <%= @delivery_truck.vinNumber %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @delivery_truck.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @delivery_truck.destination %>
</p>

<p>
  <strong>Yearmanufactured:</strong>
  <%= @delivery_truck.yearManufactured %>
</p>

<p>
  <strong>Make:</strong>
  <%= @delivery_truck.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @delivery_truck.model %>
</p>

<p>
  <strong>Payloademptyweight:</strong>
  <%= @delivery_truck.payloadEmptyWeight %>
</p>

<p>
  <strong>Originlocation:</strong>
  <%= @delivery_truck.originLocation %>
</p>

<p>
  <strong>Currentlocation:</strong>
  <%= @delivery_truck.currentLocation %>
</p>

<p>
  <strong>Destinationlocation:</strong>
  <%= @delivery_truck.destinationLocation %>
</p>

<p>
  <strong>Weightcapacity:</strong>
  <%= @delivery_truck.weightCapacity %>
</p>

<p>
  <strong>Yearaquired:</strong>
  <%= @delivery_truck.yearAquired %>
</p>

<p>
  <strong>Carfax:</strong>
  <%= @delivery_truck.carFax %>
</p>

<p>
  <strong>Maintenancehistory:</strong>
  <%= @delivery_truck.maintenanceHistory %>
</p>

<p>
  <strong>Nextmaintenance:</strong>
  <%= @delivery_truck.nextMaintenance %>
</p>

<p>
  <strong>Highwaympg:</strong>
  <%= @delivery_truck.highwayMPG %>
</p>

<p>
  <strong>Citympg:</strong>
  <%= @delivery_truck.cityMPG %>
</p>

<p>
  <strong>Avgmpg:</strong>
  <%= @delivery_truck.avgMPG %>
</p>

<p>
  <strong>Scheduleddeparturetime:</strong>
  <%= @delivery_truck.scheduledDepartureTime %>
</p>

<p>
  <strong>Estimatedarrivaltime:</strong>
  <%= @delivery_truck.estimatedArrivalTime %>
</p>

<p>
  <strong>Requestedarrivaltime:</strong>
  <%= @delivery_truck.requestedArrivalTime %>
</p>
</div>
</div>
<%= link_to 'Edit', edit_delivery_truck_path(@delivery_truck) %> |
<%= link_to 'Back', delivery_trucks_path %>
