<%= form_for(driver) do |f| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :driver_name %>
    <%= f.text_field :driver_name %>
  </div>

  <div class="field">
    <%= f.label :driver_id %>
    <%= f.text_field :driver_id %>
  </div>

  <div class="field">
    <%= f.label :driver_dob %>
    <%= f.text_field :driver_dob %>
  </div>

  <div class="field">
    <%= f.label :driver_address %>
    <%= f.text_area :driver_address %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.number_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :trailer_capacity %>
    <%= f.number_field :trailer_capacity %>
  </div>

  <div class="form-group">
    <strong>Upload Vehicle Image: </strong>
    <%= f.file_field :image %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
