<%= form_for @driver, remote: true, :authenticity_token => true do |f| %>


  <div class="form-group">
    <%= f.text_field :driver_name, placeholder: "Driver Name" %>
  </div>

  <div class="form-group">
    <%= f.text_field :driver_id, placeholder: "Driver ID" %>
  </div>

  <div class="form-group">
    <%= f.text_field :driver_dob, placeholder: "Driver D.O.B." %>
  </div>

  <div class="form-group">
    <%= f.text_area :driver_address, placeholder: "Driver Address" %>
  </div>

  <div class="form-group">
    <%= f.text_field :email, placeholder: "Driver Email" %>
  </div>

  <div class="form-group">
    <%= f.number_field :phone_number, placeholder: "Phone Number" %>
  </div>

  <div class="form-group">
    <%= f.number_field :trailer_capacity, placeholder: "Trailer Capacity" %>
  </div>

  <div class="form-group">
    <strong>Upload Vehicle Image: </strong>
    <%= f.file_field :image %>
  </div>


  <div class="actions">
    <%= f.button :Submit, class: "btn btn-success" %>
  </div>
<% end %>
