<script src="sorttable.js"></script>

<%# if current_user.admin? %>
  

  <p id="notice"><%= notice %></p>

    <div class="col-sm-8 col-sm-offset-3 padleft">

<h1>Drivers</h1>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="well">

    <%= link_to new_driver_path, remote: true do %>
    <button class="btn-default">
      <i class="fa fa-tasks"></i> Add Driver
    </button>
    <% end %>
    <div id="driver-form" style="display:none;"></div>
    </div>

<div class="tab-content">
        <div class="tab-pane active" id="home"> 
          <table class="table-striped", class="sortable" width="100%">


  <thead>
    <tr>
      <th>Driver name</th>
      <th>Driver</th>
      <th>Driver dob</th>
      <th>Driver address</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Trailer capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.driver_name %></td>
        <td><%= driver.driver_id %></td>
        <td><%= driver.driver_dob %></td>
        <td><%= driver.driver_address %></td>
        <td><%= driver.email %></td>
        <td><%= driver.phone_number %></td>
        <td><%= driver.trailer_capacity %></td>
        <td><%= link_to 'Show', driver %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
        </div>

<br>

  <%# if can? :create, Driver %>
    <%= link_to 'New Driver', new_driver_path, remote: true %>
  <%# end %>

<%# else %>
  <%# render 'not_allowed' %>
<%# end %>

</div>
