
<%= form_for(vehicle) do |f| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <%= f.select :yearManufactured, (1990..(Date.today.year+1)).to_a, {}, :id => "years" %>
  <%= f.select :make, "makes", {}, :id => "makes"%>
  <%= f.select :model, "Model", {}, :id => "models"%>
  <%= f.select :details, "Style", {}, :id => "styles" %>

  <div class="field-group">
    <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>

  <div class="field-group">
    <%= f.text_field :origin, placeholder: "Origin", id: "searchTextField", class: "form-control" %>
  </div>
  
  <div class="field-group">
    <%= f.text_field :destination, placeholder: "Desination", id: "searchTextField2", class: "form-control" %>
  </div>

  <div class="field-group">
    <%= f.text_field :vinNumber, placeholder: "VIN", class: "form-control" %>
  </div>

  <div class="field-group">
    <%= f.hidden_field :minimumPossibleWeight %>
  </div>

  <div class="field-group">
    <%= f.hidden_field :maximumPossibleWeight %>
  </div>

  <div class="field-group">
    <%= f.text_field :actualWeight, placeholder: "Weight", :id => "weight" %>
  </div>

  <div class="field form-group">
    <%= f.hidden_field :origin_latitude, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.hidden_field :origin_longitude, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.hidden_field :distance, class: "form-control",value: "#{@vehicle.distance}" %>
  </div>

  <div class="field form-group">
    <%= f.hidden_field :destination_latitude, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.hidden_field :truckId, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.file_field :image %>
  </div>





  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
