<p id="notice"><%= notice %></p>
<div class="col-sm-8 col-sm-offset-3 padleft">
<h1>Vehicles Ready For Dispatch</h1>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="well">
      <ul class="nav nav-tabs">
        <li class="active"> <a href="#home" data-target="#home" data-toggle="tab">Suggested Contracts</a></li>
        <li><a href="#maptab" data-target="#routetab" data-toggle="tab">List All Contracts</a></li>
        <li><a href="#cargo" data-target="#cargo" data-toggle="tab">Contracts By Location</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div class="autobox">  
          <table class="table-striped" width="100%">
            <thead>
              <th>Car Name</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Miles</th>
              <th>Bid</th>
            </thead>
            <tbody>
              <% @vehicles.each do |vehicle| %>
              <% if vehicle.truckId == 'nil' or vehicle.truckId.empty? %>
                <tr>
                  <td><%= link_to "#{vehicle.yearManufactured} #{vehicle.make} #{vehicle.model}".split.map(&:capitalize).join(' '), vehicle %></td>
                  <td><%=vehicle.origin%></td>
                  <td><%=vehicle.destination%></td>
                  <td><%=vehicle.distance%></td>
                  <td>$<%=vehicle.distance%></td>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>

        <div class="tab-pane" id="routetab"> 
        <div class="autobox">  
          <table class="table-striped" width="100%">
            <thead>
              <th>Car Name</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Miles</th>
              <th>Bid</th>
            </thead>
            <tbody>
              <% @vehicles.each do |vehicle| %>
                <tr>
                  <td><%= link_to "#{vehicle.yearManufactured} #{vehicle.make} #{vehicle.model}".split.map(&:capitalize).join(' '), vehicle %></td>
                  <td><%=vehicle.origin%></td>
                  <td><%=vehicle.destination%></td>
                  <td><%=vehicle.distance%></td>
                  <td>$<%=vehicle.distance%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="tab-pane" id="cargo">  
      </div>
    </div>
</div>
<div class="row" margin-top="0px">
  <div class="col-sm-12">
    <div class="well">
      <i> 
        <%= link_to(image_tag("carHauler-btn.png", class: 'image-responsive'), new_vehicle_path,  :method => :get) %>
        <br>
        <%= link_to 'New Vehicles', new_vehicle_path %>
      </i>
    </div>
  </div>
</div>





