<p id="notice"><%= notice %></p>
<div class="col-sm-10 col-sm-offset-1">
<h1>Vehicles Ready For Dispatch</h1>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="well">
      <ul class="nav nav-tabs">
        <li class="active"> <a href="#home" data-target="#home" data-toggle="tab">Suggested Contracts</a></li>
        <li><a href="#maptab" data-target="#routetab" data-toggle="tab">List All Contracts</a></li>
        <li><a href="#cargo" data-target="#cargo" data-toggle="tab">Contracts By Location</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active padleft" id="home">
          <div class="row">    
            <% @vehicles.each do |vehicle| %>
              <% if vehicle.truckId == 'nil' %>
                <div class="col-md-6">
                  <div class="box-car">
                    <table width="90%">
                      <tr>
                        <td><h3><%= vehicle.name %></h3></td>
                      </tr>
                      <tr>
                        <td><h4><%= vehicle.yearManufactured %> <%= vehicle.make %> <%= vehicle.model %></h4></td>
                        </tr>
                      <tr>
                      <td>Pick-Up Location:</td>
                        <td><%= vehicle.origin %></td>
                      </tr>
                      <tr>
                        <td>Destination:</td>
                        <td><%= vehicle.destination %></td>
                        </tr>
                      <tr>
                        <td>VIN:</td>
                        <td><%= vehicle.vinNumber %></td>
                        </tr>
                      <tr>
                        <td>Weight Range:</td>
                        <td> <%= vehicle.minimumPossibleWeight %> - <%= vehicle.maximumPossibleWeight %> Lbs</td>
                        </tr>
                      <tr>
                      <td>Actual Weight:</td>
                        <td><%= vehicle.actualWeight %></td>
                      </tr>
                      <tr>
                       <td>Distance</td>
                        <td><%= vehicle.distance %></td>
                      </tr>
                      <tr>
                        <td><br /></td>
                      </tr>
                    </table>
                    <br />
                  </div>
              </div>
            <% end %>
          <% end %>             
          </div>
        </div>

        <div class="tab-pane" id="routetab"> 
        <div class="autobox">  
          <table width="90%">
            <thead>
              <th>Car Name</th>
              <th>Origin</th>
              <th>Destination</th>
              <th>Miles</th>
              <th>Bid</th>
            </thead>
            <tbody>
              <% @vehicles.each do |vehicle| %>
                <tr>
                  <td><%=vehicle.name%></td>
                  <td><%=vehicle.origin%></td>
                  <td><%=vehicle.destination%></td>
                  <td><%=vehicle.distance%></td>
                  <td>$<%=vehicle.distance%></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        </div>
        <div class="tab-pane" id="cargo">  
        </div>

      </div>
    </div>
  </div>
</div>





