<p id="notice"><%= notice %></p>
   <p id="notice"><%= notice %></p>

<div class="container">
  <div class="row-fluid">
    <div class="span8 well">
      <ul class="nav nav-tabs">
        <li class="active"> <a href="#home" data-target="#home" data-toggle="tab">Home</a></li>
        <li><a href="#maptab" data-target="#routetab" data-toggle="tab">Route Details</a></li>
        <li><a href="#cargo" data-target="#cargo" data-toggle="tab">Contract Details</a></li>
      </ul>
    <div class="tab-content">
      <div class="tab-pane active padleft" id="home">
        <div class="box-car">
          <div class="col-md-6">
            <table width="90%">
              <tr>
                <td><h3><%= @vehicle.name %></h3></td>
              </tr>
              <tr>
                <td><h4><%= @vehicle.yearManufactured %> <%= @vehicle.make %> <%= @vehicle.model %></h4></td>
                </tr>
              <tr>
              <td>Pick-Up Location:</td>
                <td><%= @vehicle.origin %></td>
              </tr>
              <tr>
                <td>Destination:</td>
                <td><%= @vehicle.destination %></td>
                </tr>
              <tr>
                <td>VIN:</td>
                <td><%= @vehicle.vinNumber %></td>
                </tr>
              <tr>
                <td>Weight Range:</td>
                <td> <%= @vehicle.minimumPossibleWeight %> - <%= @vehicle.maximumPossibleWeight %> Lbs</td>
                </tr>
              <tr>
              <td>Actual Weight:</td>
                <td><%= @vehicle.actualWeight %></td>
              </tr>
              <tr>
               <td>Distance</td>
                <td><%= @vehicle.distance %></td>
              </tr>
              <tr>
                <td><br /></td>
              </tr>
            </table>
            <br />
          </div>
          <div class="col-md-6">
            <%= image_tag @vehicle.image, class: "tableimage" %>
            </div>
        </div>
        <div id="mapbox"><div id="routemap"></div></div>
        </div>
        <div class="tab-pane" id="routetab"> 
          <div class="col-md-6">
            <div id="directions-panel"></div>
          </div>
          <div class="tab-pane" id="cargo">  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-2 col-sm-offset-10">
    <h3><%= link_to 'Back', delivery_trucks_path %></h3>
  </div>
</div>
<div class="wellnavtextpad">
  <%= link_to 'Edit', edit_vehicle_path(@vehicle), class: "" %>
  <%= link_to 'Destroy', @vehicle, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<%= link_to 'Back', vehicles_path %>



<%= javascript_tag do %>
   var origin = '<%= j @vehicle.origin.to_s %>';
   var destination = '<%= j @vehicle.destination.to_s %>';
<% end %>
