<!DOCTYPE html>
<html>
  <head class="bioRhyme">

  	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCA3b6mM-SD_4WSa8qOhDmmss-bx4722vY&libraries=places" defer async>
    </script>

    <title>TruckDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag 'application' %>

    <script language="JavaScript">
			function readCookie(name){
			return(document.cookie.match('(^|; )'+name+'=([^;]*)')||0)[2]
			}
		</script>		
	 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>
        const EDMUNDS_API_KEY = 'rt9n3nwknegxj49ekdkbft48';
        function get_makes(year) {
            url = 'http://api.edmunds.com/v1/api/vehicle/makerepository/findmakesbymodelyear?year=' + year + '&api_key=' + EDMUNDS_API_KEY + '&fmt=json';
            $.ajax({
                type: "POST",
                url: url,
                data: '',
                dataType: 'jsonp',
                success: function(data) {
                    $('#makes').empty();
                    $('#makes').append("<option>Select Make</option>");
                    $.each(data.makeHolder, function(i, val) {
                        $('#makes').append("<option value='" + data.makeHolder[i].niceName + "'>" + data.makeHolder[i].name + "</option>");
                    });
                    $('#makes').removeAttr('disabled');
                    console.log('Step 2: Makes select was populated and enabled');
                }
            });
        }
        function get_models(make, year) {
            url = 'http://api.edmunds.com/v1/api/vehicle/modelrepository/findmodelsbymakeandyear?make=' + make + '&year=' + year + '&api_key=' + EDMUNDS_API_KEY + '&fmt=json';
            $.ajax({
                type: "POST",
                url: url,
                data: '',
                dataType: 'jsonp',
                success: function(data) {
                    $('#models').empty();
                    $('#models').append("<option>Select Model</option>");
                    $.each(data.modelHolder, function(i, val) {
                        $('#models').append("<option value='" + data.modelHolder[i].niceName + "'>" + data.modelHolder[i].name + "</option>");
                    });
                    $('#models').removeAttr('disabled');
                    console.log('Step 4: Models select was populated and enabled');
                }
            });
        }
        function get_styles(make, model, year) {
            url = 'http://api.edmunds.com/v1/api/vehicle/stylerepository/findstylesbymakemodelyear?make=' + make + '&model=' + model + '&year=' + year + '&api_key=' + EDMUNDS_API_KEY + '&fmt=json';
            $.ajax({
                type: "POST",
                timeout: 20000,
                url: url,
                data: '',
                dataType: 'jsonp',
                success: function(data) {
                    $('#styles').empty();
                    $('#styles').append("<option>Select Trim</option>");
                    $.each(data.styleHolder, function(i, val) {
                        console.log(data.styleHolder[i]);
                        $('#styles').append("<option value='" + data.styleHolder[i].id + "'>" + data.styleHolder[i].name + "</option>");
                    });
                    $('#styles').removeAttr('disabled');
                    console.log('Step 6: Styles(trim) select was populated and enabled');
                }
            });
        }
        function get_style_details(style_id) {
            url = 'http://api.edmunds.com/v1/api/vehicle/stylerepository/findbyid?id=' + style_id + '&api_key=' + EDMUNDS_API_KEY + '&fmt=json';
            url2 = 'https://api.edmunds.com/api/vehicle/v2/styles/200477465/equipment?availability=standard&equipmentType=OTHER&name=SPECIFICATIONS&fmt=json&api_key=rt9n3nwknegxj49ekdkbft48';
            $.ajax({
                type: "POST",
                url: url2,
                data: '',
                dataType: 'jsonp',
                success: function(data) {
                    $('#details').html(JSON.stringify(data));
                    console.log(data);
                    $('#weight').val(JSON.parse(data['equipment'][0]['attributes'][4].value.replace(/(\{|,)\s*(.+?)\s*:/g, '$1 "$2":')));
                    console.log('Step 8: Collecting Style/trim data');
                }
            });
        }

        
        $(document).ready(function() {   
            $('#years').change(function() {
                console.log('Step 1: Year ' + $("#years :selected").val() + ' was selected');
                get_makes($("#years :selected").val());
            });
            
            $('#makes').change(function() {
                console.log('Step 3: Make ' + $("#makes :selected").val() + ' was selected');
                get_models($("#makes :selected").val(), $('#years :selected').val());
            });
            $('#models').change(function() {

                console.log('Step 5: Model ' + $("#models :selected").val() + ' was selected');
                get_styles($('#makes :selected').val(), $("#models :selected").val(), $('#years :selected').val());
            });
            $('#styles').change(function() {
                console.log('Step 7: Style ' + $("#styles :selected").val() + ' was selected');
                get_style_details($('#styles :selected').val());
            });
        });
    </script>
	</head>

  <body onScroll="document.cookie='ypos=' + window.pageYOffset" onLoad="window.scrollTo(0,readCookie('ypos'))" class="bioRhyme">
			<div class="jumbotron jumbotron-fluid" height:"200"></div>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <%= link_to "Dashboard", dashboard_path, class: "navbar-brand black" %>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<% if current_page?(trucks_path)%>
          <li class="active">
            <%else%>
            <li>
              <%end%>
            <%= link_to "Trucks", trucks_path, class: "nav navbar navbar-nav"%> 
          </li>
          <% if current_page?(vehicles_path)%>
            <li class="active">
          <%else%>
            <li>
          <%end%>
          <%= link_to "Cars", vehicles_path, class: "nav navbar navbar-nav"%>
            </li>
        
	         <% if current_page?(drivers_path)%>
            <li class="active">
          <%else%>
            <li>
          <%end%>
	        	<%= link_to "Drivers", drivers_path %>
	        </li>

	         <% if current_page?(contacts_path)%>
            <li class="active">
          <%else%>
            <li>
          <%end%>
	        	<%= link_to "Contacts", contacts_path %>
	        </li>
	      </ul>

	      <!-- Don't need search bar yet //
	      <form class="navbar-form navbar-left">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      -->

	      <!-- Don't need second drop down yet
	      <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
      </ul>
      -->
	      <ul class="nav navbar-nav navbar-right">
	        <% if user_signed_in? %>
	          <li><div class="navbartextpad">Welcome, <%= current_user.username %>!</div></li> 
	          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav navbar-nav navbar-right" %></li>
	        <% end %>
	      </ul> 

	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>





    <%= yield %>


    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHqKZ8Sq_J33_r53kdQgOWZCaqO2Jb4v8">
   </script>-->
  </body>
</html>
